@model SalesWebMvc.Models.Seller;

@{
    ViewData["Title"] = "Create";
}


<div class="container-fluid d-flex flex-column justify-content-center">
    <h1 class="names-title">@ViewData["Title"] new Seller</h1>

    <form asp-action="Create">

        <div class="field-form">
            <label asp-for="Name"> </label><br />
            <input asp-for="Name" class="form-control" required placeholder="Enter your name..." />
        </div>
        <div class="field-form">
            <label asp-for="Email"> </label><br />
            <input asp-for="Email" type="email" class="form-control" required placeholder="Enter your Email..." />
        </div>
        <div class="field-form">
            <label asp-for="BirthDate"> </label><br />
            <input asp-for="BirthDate" class="form-control" required />
        </div>
        <div class="field-form">
            <label asp-for="BaseSalary"> </label><br />
            <input asp-for="BaseSalary" type="number" class="form-control" min="0" required placeholder="Enter your Base Salary..." />
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>

    </form>
</div>


